.home-link
    @apply font-mono
    .logo
        margin-right 0.2rem !important

.theme-default-content
    padding 2rem 1rem !important

.theme-default-content
  p
    text-align: justify !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;

pre
  padding: 1.5rem !important
  word-break break-all !important
  white-space break-spaces !important
